### iOs
.DS_Store

### CLion
# Modified from https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# CMake
cmake-build-*/

### PSoCCreator ###
# Modified from https://www.gitignore.io/?templates=psoccreator

# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
Export/
CortexM*/
codegentemp
Generated_Source/
!*.mk
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
*.zip
