# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Koen\Documents\PSoC Creator\WiFiCar\Car.cydsn\.idea/dataSources/
/dataSources.local.xml
